.main {
    height: 120px;
    width: 1000px;
    background-color: silver; 
    border: 5px solid black; 
    text-align: Left;
    color: black;
    margin-left: 150px ;
    padding-left: 50px;
    border-radius: 30px;
    /* display: inline; */
    }

    .intro{
        height: 100px;
    width: 1000px;
    background-color: silver; 
    border: 5px solid black; 
    text-align: Left;
    color: black;
    margin-left: 150px ;
    padding-left: 50px;
    border-radius: 30px;
    /* display: inline; */
    }

    .achievement{
        height: 100px;
    width: 1000px;
    background-color: silver; 
    border: 5px solid black; 
    text-align: Left;
    color: black;
    margin-left: 150px ;
    padding-left: 50px;
    border-radius: 30px;
    /* display: inline; */
    }

    .Goals{
        height: 80px;
    width: 1000px;
    background-color: silver; 
    border: 5px solid black; 
    text-align: Left;
    color: black;
    margin-left: 150px ;
    padding-left: 50px;
    border-radius: 30px;
    /* display: inline; */
    }